---
import BaseLayout from "./BaseLayout.astro";
import Navigation from "../components/Navigation.vue";

export interface Props {
  title: string;
  description?: string;
  hideFooter?: boolean;
  isHomePage?: boolean;
  hasTopHero?: boolean;
}

const {
  title,
  description,
  hideFooter = true,
  isHomePage = false,
  hasTopHero = false,
} = Astro.props;

const needsPadding = !isHomePage && !hasTopHero;
// Pages with hero sections should have transparent nav
const needsTransparentNav = isHomePage || hasTopHero;
---

<BaseLayout title={title} description={description}>
  <header>
    <Navigation
      client:load
      transparentNav={needsTransparentNav || hasTopHero}
    />
  </header>

  <main class={needsPadding ? "main-with-nav" : ""}>
    <slot />
  </main>

  {
    !hideFooter && (
      <footer class="container">
        <hr />
        <p style="text-align: center;">© 2025 Critical Studio.</p>
      </footer>
    )
  }
</BaseLayout>

<style>
  .main-with-nav {
    padding-top: 178px;
  }
</style>
